@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #0D0752; /* Цвет самой полосы прокрутки */
}

/* Общие стили для других браузеров */
body {
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb {
    background-color: #0D0752;
}